@charset "UTF-8";

/*
    Em HTML é id = em CSS é # (só um elemento)
    em HTML é class = em CSS é .(você pode ter varios elementos)
*/

body {
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}
h1#principal{
    text-align: center;
    background-color: forestgreen;
    color: white;
}
h1{
    color: rgb(4, 109, 0);
}
h2{
    color: rgb(73, 109, 71);
}
.basico {
    color: brown;
    font-weight: bold;
}
.intermediario{
    color: rgb(107, 15, 194);
}
.avancado{
    color: blueviolet;
}

.destaque{
    background-color: blue;
}